@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    /* overflow-x: hidden; */
}
#navbar {
    display: flex;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10%;
    height: 10vh;

    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
#nav-left {
    width: 50%;
    
    display: flex;
    justify-content: space-between;
}
#nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}
#nav-mobile {
    display: none;
}
#image {
    display: flex;
    justify-content: center;
    align-items: center;
}
#image_logo {
    background-size: cover;
    background-position: center;
}

#menu {
    grid-area: menu;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#div-menu_link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0 2vh;
    color: #1B2559;
}
#menu_link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: unset;
    color: #1B2559;
}
#down-bar {
    width: 2vh;
    height: .5vh;
    background-color: #1B2559;
    border-radius: 5px;
    transform: translateY(3.2vh);
}
#perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}
#perfil label {
    font-size: 2vh;
    margin: 2vh;
    color: #1B2559;
}
#menu_perfil {
    width: 8vh;
    border-radius: 3vh;
}

#menu-drop {
    display: none;
}
@media only screen and (max-width: 600px) {
    #navbar {
        padding: 0 2%;
    }
    #nav-desktop {
        display: none;
    }
    #nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        width: 100%;
    }
    #menu-d {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #menu-drop {
        display: block;
    }
    
    #menu-drop #drop {
        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        cursor: pointer;
        background-color: white;
        padding: 10px;
        color: #1B2559;
        width: 8vh;
        height: 8vh;
        border-radius: 1vh; 
    }
    
    #menu-drop #drop-content {
        display: none;

        line-height: 8vh;
        border-radius: 1vh;
        background-color: #e1e1e1; 
        position: absolute;
    }
    
    #menu-drop:hover #drop-content {
        display: block;
        background-color: #e1e1e1; 
    }
}