{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/estoque.css' %}">
{% endblock %}

{% block title %}Painel | Estoque{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div id="painel">
        <div id="prod_em_estoque">                        
            <div>
                <label>Qtd. Total (Produtos em Estoque)</label>
            </div>
            <div>
                <h4 id="prod_em_estoque_value">Sem dados</h4>
            </div>   
        </div>
        <div id="cilindros_cheios">            
            <div>
                <label>Qtd. Cilindros Cheios</label>
            </div>  
            <div>
                <h4 id="cilindros_cheios_value">Sem Dados</h4>
            </div>             
        </div>
        <div id="ticket_medio_de_compra">            
            <div>
                <label>Ticket Médio de Compra</label>
            </div>   
            <div>
                <h4 id="ticket_medio_de_compra_value">Sem dados</h4>
            </div>            
        </div>
        <div id="vlr_prod_em_estoque">            
            <div>
                <label>Valor Total (Produtos em Estoque)</label>
            </div> 
            <div>
                <h4 id="vlr_prod_em_estoque_value">Sem dados</h4>
            </div>           
        </div>
        <div id="mapa_locacao">      
            <div id="mapa-title">
                <h2>Mapa Locações</h2>
            </div> 
            <div id="mapa-img" style="background-image: url('/static/public/map-lock.png');"></div>
        </div>
        <div id="ranking_compra_por_forn">            
            <div>
                <h2>Ranking de Compras <small>(Por Fornecedor)</small></h2>
            </div> 
            <div :style="{ maxHeight: '40vh' }">
                <canvas id="ranking_compras_por_fornecedor_chart"></canvas>
            </div>           
        </div>
        <div id="prod_mais_comprados">            
            <div>
                <h2>Top 10 Compras Por Produto</h2>
            </div>
            <div :style="{ maxHeight: '40vh' }">
                <canvas id="ranking_produto_mais_comprado_chart"></canvas>
            </div> 
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'js/estoque.js' %}"></script>
{% endblock %}